%h1 Runs

%table.table
  %thead
    %tr
      %th Run
      %th Algorithm
      %th Cluster count
      %th Features
      %th Davies bouldin index
      %th Month
  %tbody
    - @runs.each do |run|
      %tr
        %td= link_to l(run.created_at, format: :long), run
        %td= run.algorithm
        %td= run.clusters.count
        %td{ title: run.features.join(", ") }= run.features.count
        %td= run.eval_db
        %td= run.timespan_from ? l(run.timespan_from, format: '%B') : "-"
