%p#notice= notice

%h1 #{@run.algorithm} (#{@run.clusters.count} clusters)

.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h2.panel-title Cluster comparison
      %section#comparison.panel-body{ title: "Cluster comparison", data: { clusters: @clusters.to_json, features: @run.features.to_json } }
        %div.container{ style: 'width: 500px; height: 350px;' }
      %form.panel-footer.form{ action: '', method: 'get' }
        %p
          %label{ for: 'n' }
            Number of clusters to visualize (sorted by number of members)
          %br
          %input.pull-left{ id: 'n', type: 'range', name: 'n', min: 1, max: @run.clusters.count, value: params[:n] || @run.clusters.count, oninput: '_n.value = n.value' }
          %output{ for: 'n', name: '_n' }= params[:n] || @run.clusters.count
        = submit_tag 'Update', name: nil

    - @clusters.each do |cluster|
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            = cluster.label || "Cluster #{@clusters.index(cluster) + 1}"
            %small id: #{cluster.id}
            %p.pull-right
              #{cluster.size} samples
        %table.table.table-bordered
          %tr
            %td.col-md-8{ rowspan: cluster.statistics.length }
              %figure.cluster.small-visualization{ data: { center: cluster.center.to_json, avg_center: @run.feature_averages.values.to_json, features: 1.upto(@run.features.length).map(&:to_s).to_json } }
                %canvas.container{ width: 390, height: 300 }
            %th 1. #{cluster.features.first}
            %td.numeric= sprintf("%.2f", cluster.feature_statistics(cluster.features.first).mean.round(2))
          - for feature in cluster.features.from(1)
            %tr
              %th #{cluster.features.index(feature) + 1}.&nbsp;#{feature}
              %td.numeric= sprintf("%.2f", cluster.feature_statistics(feature).mean.round(2))

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Meta
      %dl.panel-body
        - if @run.timespan_from && @run.timespan_to
          %dt Data for month
          %dd
            %p= l(@run.timespan_from, format: '%B %Y')
        %dt Evaluation (davies-bouldin index)
        %dd
          %p= @run.eval_db
        %dt Features
        %dd
          %ol
            - for feature in @run.features
              %li= feature
        %dt Run params
        %dd
          %ul
            - @run.params.each do |key, value|
              %li
                %strong= key.to_s + ":"
                = value
        %dt Comment
        %dd= @run.comment || '-'


/ %ol
/   - @run.clusters.each do |cluster|
/     = render 'visual/cluster_small', cluster: cluster

%p
  = link_to "« Back to latest runs", runs_path
